# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/

# Database & runtime files
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.tmp/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
